*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#popup{
    visibility: hidden;
    border: 0px solid rebeccapurple;
position: absolute;
top: 12%;
left: 75%;
width: 250px;
padding: 20px;
background-color: blue;

}

#popup button{
    width: 35%;
    height: 25px;
    border: none;
    background-color: blue;;
    outline: none;
    font-size: 18px;
    margin: 5px 0px;

}

#signinpopup{
    visibility: hidden;
    border: 5px solid rebeccapurple;
    background-color: rgb(61, 142, 150);
    position: absolute;
    top: 25%;
    left: 30%;
    width:600px;

    padding: 10px;
    /* background-color: blue; */

}

#signuppopup{
    visibility: hidden;
    border: 5px solid rebeccapurple;
    background-color: rgb(61, 142, 150);
    position: absolute;
    top: 25%;
    left: 30%;
    width:600px;

    padding: 10px;
    /* background-color: blue; */

}

#verifyotp{
    visibility: hidden;
    border: 5px solid rebeccapurple;
    background-color: rgb(61, 142, 150);
    position: absolute;
    top: 25%;
    left: 30%;
    width:600px;

    padding: 10px;
    /* background-color: blue; */

}

